title #{title} [#{mode} Mode] 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0,\
maximum-scale=1.0, user-scalable=no")
link(rel="icon", href="favicon.ico")
link(rel="stylesheet", href="/assets/components/winjs/css/ui-dark.css")
link(rel="stylesheet", href="/assets/components/outdated-browser/outdatedbrowser/outdatedbrowser.css")
link(rel="stylesheet", type="text/css", href="/assets/styles/app.css")
style