include ../includes/main-components

- componentName = "FormEntriesSummery";

+main

  div#mw-summery-repeater(data-win-control="WinJS.UI.Repeater")
    div.mw-summery-item
      label.win-type-base.name(data-win-bind="textContent: key._name")
      p.value(data-win-bind="textContent: key._value")
      button.edit-entry(data-win-bind="onclick: callback")
        span &#xE104;