include ../includes/main-components

- componentName = "FlyingDots";

+main

  .c_h_flyingDots
    .c_flyingDots.c_loadingDots.c_dotsPlaying
      .c_loadingFallback(style="background-image:url('./FlyingDots/flyingdots.gif');background-size:100% 4px")
      .c_loadingTracks
        .c_loadingTrack.c_loadingTrack5
          .flying.c_loadingDot
        .c_loadingTrack.c_loadingTrack4
          .flying.c_loadingDot
        .c_loadingTrack.c_loadingTrack3
          .flying.c_loadingDot
        .c_loadingTrack.c_loadingTrack2
          .flying.c_loadingDot
        .c_loadingTrack.c_loadingTrack1
          .flying.c_loadingDot