include ../includes/main-components

- componentName = "FilePicker";

+main

  .mw-filepicker
    p.win-type-base Drag a file here or
    input.mw-filepicker-input(type="file")
    label.mw-filepicker-button.win-button.win-button-primary(for="") Choose a file&hellip;
