include ../includes/main-components

- componentName = "SplitViewPaneHeader";
- modules = ["SplitViewPaneHeaderIconButton"];

+main

  .splitview-pane-header
    .splitview-pane-header__logo-area
      
    .splitview-pane-header__title-area-container
      span.splitview-pane-header__title-area-container__title Mobile Center 
