include ../includes/main-components

- componentName = "StepsAssistant";
- modules = ["Step"]

+main
  .progress(data-win-control="MajesticWaffle.UI.FlyingDots", data-win-options="{showOnRender: false}")